<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huarun.dao.CourseStudentMapper">

    <select id="queryMyCourseIDByUserID" resultType="CourseStudent">
        select * from SignManage.course_student where student_id = #{userID}
    </select>

    <select id="queryOneCourseAllStudent" resultType="CourseStudent">
        select * from SignManage.course_student where course_id = #{course_id}
    </select>

    <delete id="delOneStudentInCourse">
        delete from SignManage.course_student
        where course_id = #{course_id} and student_id = #{student_id}
    </delete>
</mapper>